@charset "utf-8";
/* CSS Document */

figure{
position: relative;
overflow: hidden;
display: inline-block;
z-index: 2000; /* set this to highest z-index value on your page */
margin: 0px;
padding: 0px;
height:350px;
width:225px;
}
.figurefx{
   z-index:50;
}
.figurefx img{
position: relative;
display: block;
left: 0;
top: 0;
z-index: 2001;
}

.figurefx div.veils{
content: '';
width: 100%;
height: 100%;
display: block;
background: #FFF;
position: absolute;
opacity: 0.5;
visibility: hidden;
top: 0;
left: 0;
z-index: 99;
}


.figurefx figcaption{
position: absolute;
left: 0;
top: 20%; /* vertically center caption */
transform: translateY(-10%); /* vertically center caption */
width: 100%;
height: auto;
background: #2b0a0a;
color:#FFF;
font-size:26px;
padding: 5px 10px;
overflow: auto;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
opacity: 0;
z-index: 99;
}

.figurefx figcaption a{
text-decoration: none;
}

a#stickyhoverfixios{
position: fixed;
width: 100%;
height: 100%;
left: 0;
top: 0;
z-index: 2008;  /* set this to 2nd highest z-index value on your page */
display: none;
}