body {
    background-color:#968f8f;
}
body table{
    border:2px solid #7d5a49;
}
table th{
    min-width:35px;
    height:40px;
}
table td{
    width:80%;
}
table tr th img{
    height:70px;
    width:80px;
    margin-bottom:0px;
}
table tr{
    border-bottom:2px solid rgba(17, 16, 16, 0.94);
}
table tr:nth-child(2n+1){
    background-color:#5e9d9f;
}
table tr:nth-child(2n){
    background-color:#c3bfbf;
}
table{
    border-collapse:collapse;
}
table td a{
    text-decoration:none;
    color:red;
    font-weight:bolder;
    font-size:14px;
    text-align:center;
}
table td i{
    color:green;
    padding:3px;
}
table tr th a b {
    color:yellow;
    border:2px solid red;
    background-color:red;
    border-radius:45px;
    padding:10px;
    margin:3px; 
}
table tr th a{
    text-decoration:none;
}
table tr th a b:hover{
    background-color:green;
}
table tr td a {
    padding:3px;
}
table tr:hover{
    opacity:0.85;
    border:3px solid red;
}

   
